@{
    ViewData["Title"] = "Requisitos Para Locação de Veículo no Brasil";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h5>Idade Mínima</h5>
    <br />
    O locatário/condutor deverá possuir idade mínima de 21 anos.
    <br />
    <br />
    <h5>Carteira de Habilitação Nacional (CNH)</h5>
    <br />
    O locatário deverá apresentar seu documento de habilitação original, emitido há mais de 2 anos (CNH Definitiva), válido e dentro do prazo de vencimento.
</p>
